body{
padding-left: 100px;
}

div#navbar expand lg {
 height: 60px;
 width: 600px;
 background-repeat:repeat;
}

div#navbar ul {
	line-height: 40px;	
	font-size: 24px;
	margin: 0px;
 	padding: 0px;
}

div#navbar li {
 list-style-type: none;
 display: inline;
 padding-right: 15px;
}

div#navbar li a {
 text-decoration: none;
}

div#navbar li a:hover{
 color: red;
 border-bottom: dashed 1px;
}

label {
  display: block;
  margin: 5px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 5px 30px 5px 30px;
  border-bottom: 1px solid #aaa;
}

h1{
	color:red;
}


h3{
	color:red;

}

footer{
	width:600px;
	border-top: dotted 1px;
}

p{
	width: 1000px;
}
